.forgot-password {
  .forgot-background {
    background-image: url("../../assets/ForgotPassword/forgotPassword.svg");
    background-size: cover;
    height: 100vh;
  }
  .forgot-main {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    .logo {
      margin-bottom: 80px;
    }
    .forgot-conetent {
      text-align: center;
      .forgot-title {
        font-size: 38px;
        font-weight: 700;
      }
      p {
        max-width: 500px;
        font-size: 18px;
        margin: 40px 0;
      }
    }
    .form {
      display: flex;
      width: 25rem;
      flex-direction: column;
      .error-message {
        color: #ff4d4f;
        position: relative;
        margin-bottom: 10px;
        small {
          margin: 30px;
        }
        img {
          position: absolute;
          top: 3px;
        }
      }
      button {
        &:hover {
          background: #4c0027 !important;
        }
      }
    }
    .footer {
      margin-top: 20px;
      .brown-text {
        color: #4c0027;
        font-weight: 600;
      }
      .yallow-text {
        color: #f78812;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  @media only screen and (max-width: 450px) {
    .form {
     width: 18rem !important;
    }
  }
}
